---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

interface Props {
	title?: string;
	description?: string;
	url?: string; 
}

const  {
	title = "Edwin Cala | Desarrollador Web",
	description = "Portafolio de desarrollador web con proyectos en Python, Java, React y Machine Learning" 
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
		<link rel="stylesheet" href="/src/styles/global.css" />
	</head>
	<body>
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>